<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.wase">

    <uses-permission android:name = "android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/here_app_icon_circle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".device.BluetoothComm">
        </activity>
        <activity android:name=".device.DiscoverDevice">
        </activity>
        <activity android:name = ".device.WorkoutRecords"/>
        <activity android:name = ".device.WorkoutRecord"/>
        <activity android:name = ".device.WorkoutRecord2"/>
        <activity android:name = ".device.EquipmentRecordTerminal"/>
        <activity android:name=".view.activity.MyEquipmentsActivity"/>
        <activity android:name=".view.activity.MyRecordsActivity"/>
        <activity android:name=".view.activity.MyRoutinesActivity"/>
        <activity android:name=".view.activity.SettingAppInfoActivity"/>
        <activity android:name=".view.activity.SettingMyInfoActivity"/>
        <activity android:name=".view.activity.SupportAppInfoActivity"/>
        <activity android:name=".view.activity.DatabaseTestActivity"/>
        <activity android:name=".view.activity.SupportHelpActivity"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name = ".deviceLE.BeaconRangingActivity" />
        <activity android:name = ".deviceLE.DataViewTerminal" />
        <activity android:name=".view.activity.StartExerciseActivity"/>
        <activity android:name=".view.activity.DoingExerciseActivity"/>
        <activity android:name=".view.activity.FinishExerciseActivity"/>
        <service android:name=".deviceLE.BluetoothLeService" android:enabled="true" />

    </application>

</manifest>
