<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.wase">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".testpage.BluetoothComm">
        </activity>
        <activity android:name=".testpage.DiscoverDevice">

        </activity>

        <activity android:name=".view.activity.MyEquipmentsActivity"/>
        <activity android:name=".view.activity.MyRecordsActivity"/>
        <activity android:name=".view.activity.MyRoutinesActivity"/>
        <activity android:name=".view.activity.SettingAppInfoActivity"/>
        <activity android:name=".view.activity.SettingMyInfoActivity"/>
        <activity android:name=".view.activity.SupportAppInfoActivity"/>
        <activity android:name=".view.activity.SupportHelpActivity"/>
        <activity android:name = "com.example.user.wase.device.BeaconRangingActivity" />

    </application>

</manifest>
